@import "../../css/index.scss";


.repos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $surface;
	padding: 10px;
	border-radius: 5px;
	&__name {
		color: $onSurface;
	}
	&__info {
		display: flex;
		flex-direction: column;
		color: $onBackground;
		span {
			color: $primary;
		}
	}
}