@import "../../css/index.scss";



.repos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $surface;
	padding: 10px;
	border-radius: 5px;
	&__name {
		color: $onSurface;
	}
	&__info__container {
		display: flex;
		flex-direction: column;
		color: $onBackground;
	}
	&__info {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__info__number {
		font-size: 1.3rem;
		color: $primary;
		margin-right: 5px;
	}
}